<!DOCTYPE html>
<html>
    {% include "head.html" %}
    <body>
        <main>
            {% include "navbar.html" %}
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold">A3: Sensitive Data Exposure</h1>
                <div class="col-lg-6 mx-auto">
                    <p>Many web applications and APIs do not properly protect sensitive data, such as financial, healthcare, and PII. Attackers may steal or modify such weakly protected data to conduct credit card fraud, identity theft, or other crimes. Sensitive data may be compromised without extra protection, such as encryption at rest or in transit, and requires special precautions when exchanged with the browser.</p>
                    <p>Our <a href="/owasp/A1">SSTI Example</a> also covers A3 as it opens up a way for attackers to expose sensitive data</p>
                    <p>This page also has a potential vulnerability within its codebase. Refer to the SAST Tool to find out.</p>
                  </div>
                </div>
              </div>
        </main>
    </body>
</html>