<!DOCTYPE html>
<html>
    {% include "head.html" %}
    <body>
        <main>
            {% include "navbar.html" %}
            <div class="px-4 py-5 my-5 text-center">
                <h1 class="display-5 fw-bold">A9: Using Components with Known Vulnerabilities</h1>
                <div class="col-lg-6 mx-auto">
                    <p>Components, such as libraries, frameworks, and other software modules, run with the same privileges as the application. If a vulnerable component is exploited, such an attack can facilitate serious data loss or server takeover. Applications and APIs using components with known vulnerabilities may undermine application defenses and enable various attacks and impacts.</p>
                    <p>This Page though doesn't seem to have an attack vector. But the backend implementation of this is questionable. Refer to the SAST tool to find out!</p>
                  </div>
                </div>
              </div>
        </main>
    </body>
</html>