<!DOCTYPE html>
<html lang="en">
    {% include "head.html" %}
    <body>
        <main>
            {% include "navbar.html" %}
            <div class="px-4 py-5 my-5 text-center">
                <img class="d-block mx-auto mb-4" src="static/img/biohazard.svg" alt="" width="200" height="200">
                <h1 class="display-5 fw-bold">OWASP Top Ten Web Application Risks</h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">This is an "Intentionally Vulnerable" Web Application meant for Training Purposes Only. DO NOT Use in Production!</p>
                  <p class="lead mb-4">This Web Application demonstrates the common web vulnerabilties as stated in <a href="https://owasp.org/www-project-top-ten/" target="_blank">owasp.org</a></p>
                </div>
            </div>
        </main>
    </body>
</html>