<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">OWASP Top 10 Examples</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                <li><a class="dropdown-item" href="/owasp/A1">A1: Injection</a></li>
                <li><a class="dropdown-item" href="/owasp/A2">A2: Broken Authentication</a></li>
                <li><a class="dropdown-item" href="/owasp/A3">A3: Sensitive Data Exposure</a></li>
                <!--<li><a class="dropdown-item" href="/owasp/A4">A4: XML External Entities (XXE)</a></li>-->
                <li><a class="dropdown-item" href="/owasp/A5">A5: Broken Access Control</a></li>
                <li><a class="dropdown-item" href="/owasp/A6">A6: Security Misconfiguration</a></li>
                <li><a class="dropdown-item" href="/owasp/A7">A7: Cross-Site Scripting XSS</a></li>
                <!--<li><a class="dropdown-item" href="/owasp/A8">A8: Insecure Deserialization</a></li>-->
                <li><a class="dropdown-item" href="/owasp/A9">A9: Using Components with Known Vulnerabilities</a></li>
                <!--<li><a class="dropdown-item" href="/owasp/A10">A10: Insufficient Logging & Monitoring</a></li>-->
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>